#root{
    width: 71rem;
    padding: 2rem;
    height: auto;
    border: 3px solid rgb(248, 248, 248);
    border-radius: 0.5rem;
    background-color: rgb(119, 220, 117);

    margin: auto;
    margin-top: 5rem;

    display: flex;
    flex-wrap: wrap;
}

.fruta{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    border: 3px solid rgb(255, 255, 255);
    font-size: 0rem;
    margin: 0.5rem;
    background-color:  rgb(207, 169, 244);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.activo{
    transition: 1s linear;
    font-size:3rem;
    transition:1s;
    background-color: rgb(149, 68, 179);
    color:white;
    -webkit-transform: perspective(150px) rotateY(45deg);
    transform: rotateY(180deg);
}

.fruta:hover{
    background-color: white;
    transition:0.8s
}